<div class="welcome">
  <!-- <h2>Please enter your Postcode:</h2> -->

      <%= form_for @current_user, url: welcome_post_path, method: 'post'  do |f| %>

    <div id="sb-search" class="sb-search">
      <% if session[:postcode]!=nil%>
      <% place_val = 'searching by: ' + session[:postcode] %>
      <% else %>
       <% place_val = "Enter a postcode or a name" %>
       <% end %>
      <%= f.text_field :postcode, autofocus: true, autocomplete: "SL44NP", placeholder: place_val, :class => "sb-search-input"%>
        <%= f.hidden_field :id %>
    </div>

    <div>
      <%= f.submit "GO", :class => "sb-search-submit"%>
    </div>
  <% end %>
</div>
