<div class="list">
    <% @users.each do |user| %>

        <div class="chef-list">
            <%= link_to "#{user.name}", user_path(user) %>
                <div class="rating">
                <% 5.times do |i|%>
                   <% if user.average_rating > i %>
                     <%= link_to(raw(fa_icon "star"), user_path(user, :id => user.id))%> 
                   <% else %>
                         <%=  fa_icon "star", :class => "empty" %> 

                   <% end %>
                <% end %>
                </div>
                <br>
                <button class="button show">
                    <%= link_to "Show", user_path(user, :id => user.id)%>
                </button>
          </div>
      <% end %>
                         
