<div class="page">
<h2>Test Mode is <% if @testmode==true %>
                    <%= "On" %>
                    <% else %>
                    <%= "Off" %>
                    <% end %>
                     <button class = "button back">
      <%= link_to("Back to the chefs", "/" ) %>
    </button>
    </div>