      <div class="review">
        <% @user.reviews.each do |review| %>
        <div class="c">
          <%= simple_format(review.comment) %> 
           <div class="rating">
                <% 5.times do |i|%>
                   <% if review.rating && review.rating > i %>
                     <%= fa_icon "spoon", class: "fa-1x" %> 
                              <% end %>
                            <% end %>
                            </div>
                        </div>
            <br>
            <!--switched off temporarily, cant seem to get font smaller that 12?
           <div class="created_at"> <%= review.created_at %></div>
          </div>
          -->
           <% end %>
        </div>